#photo {
    width: 20px;
    left: 20px;
    border-radius: 20px;
}

header {
    text-align: center;
}

body {
    background: url(https://www.wallpapertip.com/wmimgs/35-350686_apple-store-background.png) #444;
    background-size: cover;
    padding-bottom: 80px;
}

#login .container #login-row #login-column #login-box {
    background: url(https://www.wallpapertip.com/wmimgs/38-386847_multi-coloured-slate-wallpaper-mural-used-construction-material.jpg) #444;
    margin-top: 60px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #c90c0c;
}

#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}

#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}